// Global changes
html * {
  font-family: Arial !important;
}

body {
  background: no-repeat url(//s.ytimg.com/yt/imgbin/www-refreshbg-vflC3wnbM.png)
    0 0;
  background-color: #ebebeb;
  background-repeat: repeat;
}

h1 {
  color: #7500d1;
  margin: 20px 10px 0px;
  //padding: 0px 100px 40px 30px;
  text-align: center;
  font-size: 40px;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.head1 {
  font-size: 70px;
  //font-weight: bolder;
}

.paragraph {
  font-size: x-large;
  text-align: center;
}
