.left {
  margin: 20px 10px 0px;
  padding: 0px 100px 40px 30px;
  text-align: left;
  font-size: large;
  line-height: 1.8;
  max-width: 25%;
}

.slider{
  text-align: right;
  display: flex;
}

.sliderText{
  //padding-left: 140px;
  text-align: center;

}

.right{
  margin: 20px 10px 0px;
  padding-right: 40px;
  padding-bottom: 100px;
  text-align: right;
  display: flex;
}
