.wrapper {
  display: flex;
}

.test {
  font-size: large;
}


.p1 {
  color: black;
  margin: 20px 10px 0px;
  padding: 0px 100px 40px 30px;
  font-size: large;
  //font-weight: bolder;
}
.center {
  margin: 20px 10px 0px;
  padding: 0px 100px 40px 30px;
  text-align: center;
  font-size: large;
}

.left {
  margin: 20px 10px 0px;
  padding: 0px 100px 40px 30px;
  text-align: left;
  font-size: large;
  line-height: 1.8;

}

.right {
  margin: 20px 10px 0px;
  padding: 0px 100px 40px 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  //width: 50%;
}
