.columnSelector {
  display: flex;

  & > div:not(:last-child) {
    margin-right: 2em;
  }
}

.verticleLine {
  stroke: #147f90;
  fill: #a6e8f2;
  offset: 50%;
  stroke-width: 5;
}

.infobox {
  display: flex;
  margin-top: 1em;
}

.box {
  margin: 0 4em;
  & .date {
    color: darkgray;
  }

  & .value {
    font-size: 18pt;
  }
}

.diff {
  font-weight: bold;
  font-size: 14pt;
  width: 8em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
