.label {
  font-weight: bold;
}

.bubbleChartWrapper {
  display: flex;
}

#bubbleChartInfo {
  text-align: center;
  width: 300px;
  height: 600px;
  background-color: gray;
  border: 2px solid black;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
.padding {
  margin: 20px 10px 0px;
  padding: 0px 100px 40px 30px;
}

.h2 {
  margin: 20px 10px 0px;
  padding: 0px 100px 40px 30px;
  color: #7500d1;
  font-size: xx-large;
  text-align: center;
}

.slider {
  text-align: center;
}

.sliderText {
  //padding-left: 140px;
  text-align: center;
}
